@use './../../styles/partials/fonts' as *;
@use'./../../styles/partials/mixins' as *;

.video-container{
    padding: 0 1rem;
    @include tablet{
        padding-left: 2.5rem;
    }
    @include desktop{
        padding-left: 6.5rem;
    }

    &__title{
        @include page-header-styles;
        @include custom-paddings;
        text-align: left;
        border-bottom: 1px solid $mercury;
        @include tablet{
            border-bottom: none;
            margin: 0;
        }
        
        @include desktop{
            border-bottom: none;
            margin: 0;
        }
    }
    &__middle-card{
        display: flex;
        flex-wrap: wrap;
        padding: 1.25rem 0;
        border-bottom: 1px solid $mercury;
        @include tablet{
            padding: 0;
        }
        @include desktop{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 0;
            padding-right: 1rem;
            border-bottom: 1px solid $mercury;
        }
    }
    &__channel{
        width: 50%;
        order: 1;
        text-align: left;
        font-weight: 700;
        margin: 0;
        margin-bottom: 10px;
        @include desktop{
            width: auto;
        }
    }
    &__timestamp{
        width: 50%;
        order: 3;
        text-align: left;
        color: $silver;
        margin: 0;
        @include desktop{
            width: auto;
            order: 2; 
        }
    }
    &__views{
        width: 50%;
        order: 2;
        text-align: right;
        color: $silver;
        margin-bottom: 10px;
        @include desktop{
            width: auto;
        }
    }
    &__likes{
        width: 50%;
        order: 4;
        text-align: right;
        color: $silver;
        @include desktop{
            width: auto;
        }
    }

    &__description{
        @include body-text-styles;
        @include custom-paddings;
        text-align: left;
        @include tablet{
            margin: 0;
        }
        @include desktop{
            padding-right: 1rem;
        }
    }
}