//primary colors
$brainFlix-black:#323232;
$brainFlix-blue:#0095FF;
$silver:#AFAFAF;
$white:White;

// secondary colors
$brainFlix-darkblack:#000000;
$brainFlix-darkblue:#0065AD;
$mercury:#E1E1E1;
$alabaster:#FAFAFA;

// Define a breakpoint variable
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

@mixin tablet{
    @media screen and (min-width:$tablet-breakpoint){
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width:$desktop-breakpoint){
        @content;
    }
}

//button styles
@mixin button-styles(
  $button-width: 100%,
) {
  height: 2.5rem;
  width: $button-width;
  color: $white;
  padding: 0 2rem;
  
  line-height: 1.25rem;
  font-weight: 700;
  border-radius: 0.25rem;
  background-color: $brainFlix-blue;
  background-repeat: no-repeat;
  background-position: 2vw;
  border: none;

  &:hover {
    background-color: $brainFlix-darkblue;
  }
}

//input fields
@mixin form-fields(
    $form-field-width: 100%,
){
    height: 2.25rem;
    width: $form-field-width;
    padding-left: 3rem;
    border-radius: 0.25rem;
    border: 0.063rem solid $mercury;
    background-color: $alabaster;

    &:active{
        border: 0.125rem solid $brainFlix-blue;
    }

    &::placeholder{
        color: $brainFlix-black;
      }
}

@mixin form-field-textarea{
    background-color: $alabaster;
    border-radius: 4px;
    border: 1px solid $silver;
    resize: none;
    width: 100%;
    padding: 1rem;

    &::placeholder{
        color: $brainFlix-darkblack;
    }
}

//profile image
@mixin profile-image(
    $image-height: 2.25rem,
    $image-width: 2.25rem,
){
    height: $image-height;
    width: $image-width;
    border-radius: 50%;
    background-color: $mercury;
    object-fit: cover;
    overflow: hidden;

}

//page headers
@mixin page-header-styles(
    $font-size: 1.5rem,
    $line-height:2rem 
) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 700;
    color: $brainFlix-black;
  }

@mixin section-header-styles(
){
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: $silver;
}

@mixin sub-header-styles(
    $font-size: 0.813rem,
    $line-height: 1.125rem
){
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 700;
    color: $brainFlix-black;
}

@mixin body-text-styles(
    $font-size: 0.813rem,
    $line-height: 1.125rem
){
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 400;
    color: $brainFlix-black;
}

@mixin custom-paddings(
    $padding-before-headlines: 1.5rem,
    $padding-after-headlines: 1rem,
    $padding-between-components: 1rem
){
    padding-top: $padding-before-headlines;
    padding-bottom: $padding-after-headlines;
    padding: $padding-between-components 0;
}