@use'./../../styles/partials/mixins' as *;
@use './../../styles/partials/fonts' as *;

.upload{
    padding: 1rem;

    @include tablet{
        padding: 0 2.5rem;
    }

    @include desktop{
        padding: 0 6.5rem;
    }

    &__title{
        @include tablet{
            padding-bottom: 1.5rem; 
        }
    }
    
    &__container{
       display: flex;
       @include desktop{
        
       }
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        @include tablet{
            border-top: 1px solid $silver;
            padding: 1rem 0 1rem 0;
            border-bottom: 1px solid $silver;
        }

        @include desktop{
            flex-direction: row; 
            padding: 1rem 0 2.5rem 0;
        }
    }

    &__left-image-panel{
        width: 100%;
        @include tablet{
            margin-bottom: 1rem;
        }
        @include desktop{
            width: 30%;
            height: 15rem;
        }
    }

    &__right-input-panel{
        width: 100%;
        margin-left: 0;
        @include tablet{
            width: 100%;
        }
        @include desktop{
            width: 70%;
            margin-left: 1rem;
            height: 15rem;
        } 
    }

    &__label{
        @include section-header-styles;
        margin: 0;

        &--textarea{
            margin-top: 1rem;
        }
    }

    &__thumbnail{
        width: 100%;
        border-radius: 4px;
        object-fit: contain;
        object-position: center;
        
        @include tablet{
            width: 50%;
        }
        @include desktop{
            width: 100%;
        }
    }

    &__input{
        @include form-fields;
        padding: 1rem 0 1rem 1rem;
    }

    &__textarea{
        @include form-field-textarea;
        padding: 1rem 0 0 1rem;
    }
    &__upload-btn{
        &::-webkit-file-upload-button{
            @include button-styles(50%);
            font-size: 0.75rem;
        }
    }

    &__button-panel{
        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    &__btn-submit{
        margin-top: 1.5rem;
        @include button-styles;
        background-image: url("./../../assets/images/icons/publish.svg");

        @include tablet{
            margin-top: 1rem;
            @include button-styles(25%);
            order: 2;
        }
        @include desktop{
            @include button-styles(15%);
        }
    }

    &__btn-cancel{
        color: $brainFlix-blue;
        font-weight: 700;
        text-decoration: none;
        margin: 1rem auto;
        width: 100%;
        border: none;
        background-color: transparent;
        @include tablet{
            text-align: right;
            margin-top: 1rem;
            margin-bottom: 0;
            margin-right: 1rem;
            margin-left: 0;
            width: 50%;
        }
        @include desktop{
            text-align: right;
            margin-right: 1rem;
            margin-left: 0;
            width: 50%;
        }
    }
}