@use'./../../styles/partials/mixins' as *;


.video-player{
    &__background{
        background-color: $brainFlix-darkblack;
    }

    &__video{
        width: 100%;
        object-fit: fill;
    }
}

@include tablet{

    .video-player{
        &__background{
            height: 530px;
        }
    
        &__video{
            padding: 0 2rem;
            width: 80%;
            height: 530px;
            object-fit: cover;
            overflow: hidden;
        }
    }
}

@include desktop{
    .video-player{
        &__background{
            height: 530px;
        }
        
        &__video{
            padding: 0 3.5rem;
            width: 70%;
            height: 530px;
            object-fit: cover;
        }
    }
}