@use './../../styles/partials/fonts' as *;
@use'./../../styles/partials/mixins' as *;

.video-player{
    background-color: $brainFlix-darkblack;
    display: flex;
    justify-content: center;
}
.background-video{
    width: 100%;
} 

@include tablet{
    .video-player{
        padding: 0 2.5rem;
    }
    .background-video{
        width: 100%;
    }     
}

@include desktop{
    .video-player{
        padding: 0;
    }
    .background-video{
        height: 57vh;
        width: 60%;
    }  
}