@use'./../../styles/partials/mixins' as *;
@use './../../styles/partials/fonts' as *;

.l-comments{
    padding: 0 1rem;
    
    @include tablet{
        padding: 0 2.5rem;
    }
    @include desktop{
        padding: 0 0 0 6.5rem;
    }

    &__title{
        @include custom-paddings;
        @include sub-header-styles;
        text-align: left;
        @include desktop{
            margin: 0;
            padding: 0;
        }
    }
}



