@use'./../../styles/partials/mixins' as *;
@use './../../styles/partials/fonts' as *;
.comment-list{
    width: 100%;
}

.comment-list-item{
    border-bottom: 1px solid $silver;
    display: flex;
    flex-direction: row;
    padding: 1rem 0 0.5rem 0;
    justify-content: space-around;

    &__img-placeholder{
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        background-color: $mercury;
        margin-top: 10px;
        @include desktop{
            padding-left: 1rem;;
        }
    }
    &__comment-header{
        width: 87%;
        padding-left: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        @include desktop{
            margin-left: 3rem;
            padding: 0;
        }
    }
    &__name{
        @include body-text-styles;
        font-weight: 700;
        margin: 0;
    }
    &__date{
        color: $silver;
        margin: 0;
    }
    &__comment-body{
        padding-top: 0.625rem;
        text-align: left;
        width: 100%;
        margin: 0;
        @include body-text-styles;
    }
    &__icon-pannel{
        display:flex;
        border-radius: 5px;
        background-color: $mercury;
        padding: 0.25rem;
        margin-right: 1rem;
    }
    &__like-icon-count{
        margin: 0.5rem 0 0 0.5rem;
        
    }
    &__delete-section{
        display: flex;
        margin-top: 0.5rem;
        overflow: hidden;
    }
}